@import "../../index.css";

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.textInput {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 95%;
  display: block;
  transition: all 0.2s;
}

.textInput:focus-visible {
  outline: 2px solid var(--accent-color);
}

.colors,
.designs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.5rem;
}

.colors > div,
.designs > div {
  aspect-ratio: 1/1;
}

.designs > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.35rem;
}
.radioInput + img {
  position: absolute;
}

.radioInput:checked + img {
  border: rgb(255, 2, 2) solid 1px;
  background-clip: content-box;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  margin: 0;
  border-radius: 15px;
}

.radioInput {
  appearance: none;
  width: 100%;
  height: 100%;
  background-clip: content-box;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  margin: 0;
  border-radius: 15px;
}

.radioInput:checked {
  padding: 0;
  border: 2px solid white;
  outline: none;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formControl > button {
  background-color: var(--accent-color);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border: none;
  font-size: large;
}

.formControl > label {
  font-size: large;
  font-weight: bold;
}

.loader {
  display: flex;
  flex: 1;
  justify-content: center;
}

.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.radioWrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.hidden {
  appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
}

.design input[type="radio"]:checked,
.design input[type="radio"]:checked + img {
  padding: 0px;
}

.design input[type="radio"]:checked + img {
  border: 2px solid white;
}

/* Stuff after this is only to make things more pretty */
.design input[type="radio"] + img {
  padding: 5px;
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
  width: 100%;
}
