@import "../../index.css";
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.icon .loaded {
  opacity: 1;
}

.icon {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}

.icon img {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@keyframes skeleton-load {
  0% {
    background-color: hsla(199, 20%, 70%, 0.5);
  }
  100% {
    background-color: hsla(204, 20%, 95%, 0.3);
  }
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  z-index: -1;
  animation: skeleton-load 0.5s linear infinite alternate;
}
