@import "../../index.css";

.container {
  flex: 0.66;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.container h1 {
  font-size: 2.25rem;
  line-height: 1;
}

.container > p {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.container > a {
  align-self: center;
}
.iconGallery {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 5px;
}

.iconGallery img {
  max-width: 100%;
}

@media only screen and (min-width: 800px) {
  .container h1 {
    font-size: 3.5rem;
    line-height: 1;
  }

  .container > p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .iconGallery {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
